.inscription{
    background-image: url(../images/i.jpg);
    background-repeat:no-repeat;
background-position: 50% 20%;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.ins{
    background-color: ghostwhite;
    text-align: center;
}

.item a{
    font-size: 40px;
    color: black;
    background-color: rgb(116, 7, 97);
 
}
.col-6{
    background-color: blueviolet;
  
}