{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Creation de votre groupe</h1>
    <p>Vous pouvez renseigner votre profil. Un profil plus complet permet d'accrocher plus facilement un musicien?

    <h2> Formulaire d'inscription</h2>
    
    {% include 'Group/_form.html.twig' %}
{% endblock %}
