{% extends 'layout.html.twig' %}
{% block content %}

     <!-- Navbar -->

<nav class="navbar sticky-top navbar-dark bg-dark">
<a class="flex-sm-fill text-sm-center nav-link disabled" href="#" tabindex="-1" aria-disabled="true">FIND MY BAND</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="../Home/index">Accueil</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">Inscription</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">Connexion</a>
</nav>
    <h1>Inscription à FIND MY BAND</h1>
    {% include 'Musician/form.html.twig' %}
{% endblock %}


